---
layout: default
title: "Home"
---

<div class="homepage-container">
    <!-- Featured Technologies Section -->
    <section class="featured-technologies">
        <h2>Explore Technologies</h2>
        <div class="technology-grid">
            
            
                {% for post in site.posts limit:3 %}
                  <div class="tech-card">
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <small>{{ post.date | date: "%B %d, %Y" }}</small>
                  </div>
                {% endfor %}
        </div>
    </section>

    <!-- Latest Blogs Section -->
    <section class="latest-blogs">
        <h2>Latest Blogs</h2>
        <div class="blog-grid">
            {% for post in site.posts limit:6 %}
            <div class="blog-card">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <p>{{ post.excerpt }}</p>
                <small>Published on {{ post.date | date: "%B %d, %Y" }}</small>
            </div>
            {% endfor %}
        </div>
    </section>
</div>